.dropdown {
    position: fixed;
    top: 10px;
    left: 10px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.printbox {
    background-color: #06010180;
    border: 5px double #F5ECD9B2
}
h1 {
    color: #256A12C2;
    text-shadow: 2px 2px #FFD273B2;
    font-family: "Showcard Gothic", "Helvetica", "Arial", sans-serif;
}
.subtitle {
    color: #D4AF37F2;
    font-family: 'Blackadder ITC';
    font-style: italic;
    font-size: 20pt;
}
.input-group label {
    color: #fff;
}
.input-group label span {
    font-size: 10px;
    color: #D4AF37;
}
input[type="text"] {
    border: 1.5px solid #5D3954E5;
}
.print-button {
    background: linear-gradient(90deg, #5D3954E8, #4A3728E3);
    color: #ffffffba;
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-weight: bold;
    border: solid 1.33px #D4AF378F;
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(54, 155, 46, 0.48);
    transition: all 0.3s ease-in-out;
}

.print-button:hover {
    background: linear-gradient(145deg, #3A6B35F0, #5D3954EB);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 107, 107, 0.7),
                0 0 40px rgba(78, 205, 196, 0.5);
}

.buttonsLine1 {
font-family: 'Amazon Ember', Arial, sans-serif;
  background: linear-gradient(145deg, #E89DBD, #FFC30B8C);
  font-weight: 700;
  padding: 12.5px 15px;
  color: #ffffff;
  border-radius: 8px;
  border: solid 1px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: solid #0000008f 1.5px;
}
.buttonsLine1:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.buttonsLine1:hover {
    background: linear-gradient(145deg, #D0F0C0DE, #0047b5b2);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
    transform: scale(1.05);
}
.buttonsLine1:hover:before {
    left: -100%;
    top: -100%;
}

.buttonsLine2 {
font-family: 'Amazon Ember', Arial, sans-serif;
  background: linear-gradient(195deg, #E89DBD, #FFC30B8C);
  font-weight: 700;
  padding: 12.5px 15px;
  color: #ffffff;
  border-radius: 8px;
  border: solid 1px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: solid #0000008f 1.5px;
}
.buttonsLine2:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.buttonsLine2:hover {
    background: linear-gradient(145deg, #D0F0C0DE, #0047b5b2);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
    transform: scale(1.05);
}
.buttonsLine2:hover:before {
    left: -100%;
    top: -100%;
}

.buttonsLine3 {
font-family: 'Amazon Ember', Arial, sans-serif;
  background: linear-gradient(70deg, #E89DBD, #FFC30B8C);
  font-weight: 700;
  padding: 12.5px 15px;
  color: #ffffff;
  border-radius: 8px;
  border: solid 1px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border: solid #0000008f 1.5px;
}
.buttonsLine3:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}
.buttonsLine3:hover {
    background: linear-gradient(145deg, #D0F0C0DE, #0047b5b2);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
    transform: scale(1.05);
}
.buttonsLine3:hover:before {
    left: -100%;
    top: -100%;
}

.quick-print-buttons button:hover {
    background-color: #E9C3C7AD;
    border-color: #000;
}
.quick-print-buttons button:active {
    background-color: #000;
    border-color: #0da400;
    transform: translateY(2px);
}
.scroll-container {
    scrollbar-color: #FFADB6FA #F5ECD96E; 
}
.scroll-button {
    background-color: #D4AF37BF;
}
.scroll-button:hover {
    background-color: #cb8316;
}
.asin-sticker-container {
    background-color: #3A6B35BF;
     border: 2px dashed #D4AF37BF;
}
.asin-sticker-header {
    color: #fff;
    border-bottom: 1px dotted #fff;
}
.asin-sticker-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.asin-sticker-content button {
    background-color: #9f370fe8;
}
.asin-sticker-content button:hover {
    background-color: #8cffffbf;
}
.MultiBarcode-printer {
    background-color: #06010196;
    border: 5px double #F5ECD9B2
}
.MultiBarcode-printer h2 {
    font-family: "Showcard Gothic";
    color: #ffffff;
    text-shadow: 2px 2px #FFD273B2;
}
#textAreaID {
    border: 1px solid #ddd;
    font-family: Amazon Ember;
    font-size: 14px;
}
.multiButton {
    background: linear-gradient(90deg, #5D3954E8, #4A3728E3);
    color: #ffffff;
    font-family: 'Amazon Ember', Arial, sans-serif;
    font-weight: bold;
    border: solid 1.33px #D4AF378F;
    border-radius: 8px;
    padding: 12px 24px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(54, 155, 46, 0.48);
    transition: all 0.3s ease-in-out;
}

.multiButton:hover {
    background: linear-gradient(145deg, #3A6B35F0, #5D3954EB);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(54, 155, 46, 0.48);
}


#quickbuttons-dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Amazon Ember', Arial, sans-serif;
}
#quickbuttons-dropdown .qb-dropbtn {
  background: linear-gradient(145deg, #a912fdcf, #cdb34e);
  font-weight: 700;
  padding: 12.5px 15px;
  color: #ffffff;
  border-radius: 8px;
  border: solid #0000008f 1.5px;
  box-shadow: 0 0 15px rgba(255, 107, 107, 0.7), 0 0 30px rgba(78, 205, 196, 0.5);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#quickbuttons-dropdown .qb-dropdown-content {
  display: none;
  position: absolute;
  background-color: #1d6a69d3;;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  top: 100%;
  left: 0;
}
#quickbuttons-dropdown .qb-dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  font-weight: 500;
  cursor: pointer;
}
#quickbuttons-dropdown .qb-dropdown-content a:hover {
  background-color: #e3e3e3a0;
}
#quickbuttons-dropdown:hover .qb-dropdown-content {
  display: block;
}
#quickbuttons-dropdown:hover .qb-dropbtn {
  box-shadow: 0 0 20px rgba(255, 107, 107, 0.9), 0 0 40px rgba(78, 205, 196, 0.7);
}
#quickbuttons-dropdown .qb-dropdown-content::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: transparent;
}	
