.printbox {
    background-color: #1a1a1aa1;
    border: 5px double #d4af37db
}
h1 {
    color: #2e2e2eed;
    text-shadow: 2px 2px #e6c547f0;
}
.subtitle {
    color: #8a8a8a;
    font-family: 'Matura MT Script Capitals';
}
.input-group label {
    color: #ffffff;
}
.input-group label span {
    color: #d4af37;
}
input[type="text"] {
    border: 1.5px solid #d4af37;
}
.print-button {
    background: linear-gradient(120deg, #2e2e2e, #e6c547);
    color: #ffffffba;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(220, 220, 220, 0.6);
}

.print-button:hover {
    background: linear-gradient(145deg, #a3a3a3cf, #d9b734c7);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(0 0 0 / 50%), 0 0 30px rgb(207 207 207 / 48%)
}

.buttonsLine1 {
  background: linear-gradient(145deg, #ececece0, #e6c547cf);
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 205, 110, 0.6);
}
.buttonsLine1:hover {
    background: linear-gradient(145deg, #000000a8, #e6c547);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 205, 110, 0.6);
}

.buttonsLine2 {
  background: linear-gradient(195deg, #ececece0, #e6c547cf);
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 205, 110, 0.6);
}
.buttonsLine2:hover {
    background: linear-gradient(145deg, #000000a8, #e6c547);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 205, 110, 0.6);
}

.buttonsLine3 {
  background: linear-gradient(70deg, #ececece0, #e6c547cf);
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 205, 110, 0.6);
}
.buttonsLine3:hover {
    background: linear-gradient(145deg, #000000a8, #e6c547);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 205, 110, 0.6);
}

.quick-print-buttons button:hover {
    background-color: #afafaf82;
    border-color: #000;
}
.quick-print-buttons button:active {
    background-color: #000;
    border-color: #0da400;
}
.scroll-container {
    scrollbar-color: #8a8a8a #d9b734a8;
}
.scroll-button {
    background-color: #1a1a1abd;
    color: #e6c547e3;
}
.scroll-button:hover {
    background-color: #cb8316;
}
.asin-sticker-container {
    background-color: #d9b734a8;
    border: 2px dashed #fffc;
}
.asin-sticker-header {
    color: #fff;
}
.asin-sticker-content button {
    background-color: #1a1a1ad1;
}
.asin-sticker-content button:hover {
    background-color: #cececebf;
}
.MultiBarcode-printer {
    background-color: #06010196;
    border: 5px double #d4af37db;
}
.MultiBarcode-printer h2 {
    color: #ffffff;
    text-shadow: 2px 2px #e6c547f0;
}
#textAreaID {
    border: 1.5px solid #d4af37;
}
.multiButton {
    background: linear-gradient(90deg, #2e2e2e, #e6c547);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(220, 220, 220, 0.6);
}

.multiButton:hover {
    background: linear-gradient(145deg, #a3a3a3cf, #d9b734c7);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(220, 220, 220, 0.6);
}

#quickbuttons-dropdown .qb-dropbtn {
  background: linear-gradient(145deg, #a912fdcf, #cdb34e);
  color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 107, 107, 0.7), 0 0 30px rgba(78, 205, 196, 0.5);
}
#quickbuttons-dropdown .qb-dropdown-content {
  background-color: #e6c547de;
}
#quickbuttons-dropdown .qb-dropdown-content a {
  color: #000000;
}
#quickbuttons-dropdown .qb-dropdown-content a:hover {
  background-color: #404040a0;
}
#quickbuttons-dropdown:hover .qb-dropbtn {
  box-shadow: 0 0 20px rgba(255, 107, 107, 0.9), 0 0 40px rgba(78, 205, 196, 0.7);
}