.printbox {
    background-color: #06010180;
    border: 5px double #ec00008f
}
h1 {
    color: #000000C2;
    text-shadow: 2px 2px #ec0000d6;
}
.subtitle {
    color: #0d9f00;
    font-family: 'Chiller';
    font-size: 21pt;
}
.input-group label {
    color: #ffffff;
}
.input-group label span {
    color: #ec0000f2;
}
input[type="text"] {
    border: 1.5px solid #ec0000f2;
}
.print-button {
    background: linear-gradient(90deg, #ec00008f, #000000bd);
    color: #ffffffba;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(54, 155, 46, 0.48);
}

.print-button:hover {
    background: linear-gradient(145deg, #107f00cf, #000);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(17, 97, 0, 0.5);
}

.buttonsLine1 {
  background: linear-gradient(145deg, #c10000cf, #171303);
  color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);
}
.buttonsLine1:hover {
    background: linear-gradient(145deg, #000000bf, #0eb500bd);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
}

.buttonsLine2 {
  background: linear-gradient(195deg, #c10000cf, #171303);
  color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);
}
.buttonsLine2:hover {
    background: linear-gradient(145deg, #000000bf, #0eb500bd);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
}

.buttonsLine3 {
  background: linear-gradient(70deg, #c10000cf, #171303);
  color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);
}
.buttonsLine3:hover {
    background: linear-gradient(145deg, #000000bf, #0eb500bd);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
}

.quick-print-buttons button:hover {
    background-color: #89000082;
    border-color: #000;
}
.quick-print-buttons button:active {
    background-color: #000;
    border-color: #0da400;
}
.scroll-container {
    scrollbar-color: #06b500cf #460000cf;
}
.scroll-button {
    background-color: #058c00cf;
}
.scroll-button:hover {
    background-color: #0eb500bd;
}
.asin-sticker-container {
    background-color: #480707A3;
    border: 2px dashed #fffc;
}
.asin-sticker-header {
    color: #fff;
}
.asin-sticker-content button {
    background-color: #480707e8;
}
.asin-sticker-content button:hover {
    background-color: #0eb500bd;
}
.MultiBarcode-printer {
    background-color: #06010196;
    border: 5px double #ec00008f;
}
.MultiBarcode-printer h2 {
    color: #ffffff;
    text-shadow: 2px 2px #ec0000d6;
}
#textAreaID {
    border: 1.5px solid #ec0000f2;
}
.multiButton {
    background: linear-gradient(90deg, #ec00008f, #000000bd);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 30px rgba(54, 155, 46, 0.48);
}

.multiButton:hover {
    background: linear-gradient(145deg, #107f00cf, #000);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 40px rgba(17, 97, 0, 0.5);
}

#quickbuttons-dropdown .qb-dropbtn {
  background: linear-gradient(145deg, #c10000cf, #171303);
  color: #ffffff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(17, 97, 0, 0.51);
}
#quickbuttons-dropdown .qb-dropdown-content {
  background-color: #00873bde;
}
#quickbuttons-dropdown .qb-dropdown-content a {
  color: #000000;
}
#quickbuttons-dropdown .qb-dropdown-content a:hover {
  background-color: #e3e3e3a0;
}
#quickbuttons-dropdown:hover .qb-dropbtn {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.9), 0 0 40px rgba(44, 255, 0, 0.56);
}