.printbox {
    background-color: #06010180;
    border: 5px double #FDAB00B2
}
h1 {
    color: #B20000C2;
    text-shadow: 2px 2px #FF8024B2;
}
.subtitle {
    color: #D4AF37F2;
    font-family: 'Blackadder ITC';
    font-size: 20pt;
}
.input-group label {
    color: #ffffff;
}
.input-group label span {
    color: #D20000ED;
}
input[type="text"] {
    border: 1.5px solid #D4AF37F2;
}
.print-button {
    background: linear-gradient(90deg, #CA3900D1, #000000E3);
    color: #ffffffba;
    box-shadow: 0 0 15px rgba(253, 171, 0, 0.5), 0 0 30px rgba(202, 57, 0, 0.6);
}

.print-button:hover {
    background: linear-gradient(145deg, #00122EF0, #54006CEB);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(84, 0, 108, 0.7), 0 0 40px rgba(0, 18, 46, 0.5);
}

.buttonsLine1 {
    background: linear-gradient(145deg, #D28900, #B40000C4);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.51);
}
.buttonsLine1:hover {
    background: linear-gradient(165deg, #000, #4a0073b2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9), 0 0 40px rgba(158, 0, 215, 0.64);
}

.buttonsLine2 {
    background: linear-gradient(195deg, #D28900, #B40000C4);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.51);
}
.buttonsLine2:hover {
    background: linear-gradient(165deg, #000, #4a0073b2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9), 0 0 40px rgba(158, 0, 215, 0.64);
}

.buttonsLine3 {
    background: linear-gradient(70deg, #D28900, #B40000C4);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.51);
}
.buttonsLine3:hover {
    background: linear-gradient(165deg, #000, #4a0073b2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9), 0 0 40px rgba(158, 0, 215, 0.64);
}

.quick-print-buttons button:hover {
    background-color: #C10014AD;
    border-color: #000;
}
.quick-print-buttons button:active {
    background-color: #000;
    border-color: #0da400;
}
.scroll-container {
    scrollbar-color: #000000E3 #8000EA6E;
}
.scroll-button {
    background-color: #8637D4BF;
}
.scroll-button:hover {
    background-color: #54006C;
}
.asin-sticker-container {
    background-color: #C61A1A42;
    border: 2px dashed #B95105CF;
}
.asin-sticker-header {
    color: #fff;
}
.asin-sticker-content button {
    background-color: #f04a0aa1;
}
.asin-sticker-content button:hover {
    background-color: #9f02cb94;
}
.MultiBarcode-printer {
    background-color: #06010196;
    border: 5px double #FDAB00B2;
}
.MultiBarcode-printer h2 {
    color: #ffffff;
    text-shadow: 2px 2px #FF0000B2;
}
#textAreaID {
    border: 1.5px solid #D4AF37F2;
}
.multiButton {
    background: linear-gradient(90deg, #CA3900D1, #000000E3);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(253, 171, 0, 0.5), 0 0 30px rgba(202, 57, 0, 0.6);
}

.multiButton:hover {
    background: linear-gradient(145deg, #00122EF0, #54006CEB);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(84, 0, 108, 0.7), 0 0 40px rgba(0, 18, 46, 0.5);
}

#quickbuttons-dropdown .qb-dropbtn {
    background: linear-gradient(145deg, #D28900, #B40000C4);
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.51);
}
#quickbuttons-dropdown .qb-dropdown-content {
    background-color: #941b1bd4;
}
#quickbuttons-dropdown .qb-dropdown-content a {
    color: #ffffff;
}
#quickbuttons-dropdown .qb-dropdown-content a:hover {
    background-color: #e3e3e3a0;
}
#quickbuttons-dropdown:hover .qb-dropbtn {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9), 0 0 40px rgba(158, 0, 215, 0.64);
}