.printbox {
    background-color: #06010180;
    border: 5px double #800020cc
}
h1 {
    color: #4A0E4EE0;
    text-shadow: 2px 2px #8A9A5BE5;
}
.subtitle {
    color: #7FDD4CED;
    font-family: 'Curlz MT';
    font-size: 16pt;
}
.input-group label {
    color: #ffffffd9;
}
.input-group label span {
    color: #D4AF37;
}
input[type="text"] {
    border: 1.5px solid #800020;
}
.print-button {
    background: linear-gradient(90deg, #68130FB2, #34044FD1);
    color: #ffffffba;
    border: solid 1.33px #80002099;
    box-shadow: 0 0 15px rgba(128, 0, 32, 0.5), 0 0 30px rgba(127, 221, 76, 0.48);
}

.print-button:hover {
    background: linear-gradient(145deg, #000000F0, #2E264CEB);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(128, 0, 32, 0.7), 0 0 40px rgba(127, 221, 76, 0.5);
}

.buttonsLine1 {
  background: linear-gradient(145deg, #4A0E4ED6, #005419ed);
  color: #ffffffd9;
  border: solid #80002099 1.5px;
  box-shadow: 0 0 15px rgba(74, 14, 78, 0.6), 0 0 30px rgba(0, 84, 25, 0.5);
}
.buttonsLine1:hover {
    background: linear-gradient(145deg, #978BA4B8, #000000f5);
    box-shadow: 0 0 20px rgba(151, 139, 164, 0.9), 0 0 40px rgba(127, 221, 76, 0.7);
}

.buttonsLine2 {
  background: linear-gradient(195deg, #4A0E4ED6, #005419ed);
  color: #ffffffd9;
  border: solid #80002099 1.5px;
  box-shadow: 0 0 15px rgba(74, 14, 78, 0.6), 0 0 30px rgba(0, 84, 25, 0.5);
}
.buttonsLine2:hover {
    background: linear-gradient(145deg, #978BA4B8, #000000f5);
    box-shadow: 0 0 20px rgba(151, 139, 164, 0.9), 0 0 40px rgba(127, 221, 76, 0.7);
}

.buttonsLine3 {
  background: linear-gradient(70deg, #4A0E4ED6, #005419ed);
  color: #ffffffd9;
  border: solid #80002099 1.5px;
  box-shadow: 0 0 15px rgba(74, 14, 78, 0.6), 0 0 30px rgba(0, 84, 25, 0.5);
}
.buttonsLine3:hover {
    background: linear-gradient(145deg, #978BA4B8, #000000f5);
    box-shadow: 0 0 20px rgba(151, 139, 164, 0.9), 0 0 40px rgba(127, 221, 76, 0.7);
}

.quick-print-buttons button:hover {
    background-color: #4B127BAD;
    border-color: #000;
}
.quick-print-buttons button:active {
    background-color: #000;
    border-color: #0da400;
}
.scroll-container {
    scrollbar-color: #7FDD4C #800020;
}
.scroll-button {
    background-color: #800020ad;
}
.scroll-button:hover {
    background-color: #4A0E4Ede;
}
.asin-sticker-container {
    background-color: #4A0E4EC9;
    border: 2px dashed #7FDD4CE0;
}
.asin-sticker-header {
    color: #fff;
}
.asin-sticker-content button {
    background-color: #800020ad;
}
.asin-sticker-content button:hover {
    background-color: #7FDD4Cbf;
}
.MultiBarcode-printer {
    background-color: #06010196;
    border: 5px double #800020cc
}
.MultiBarcode-printer h2 {
    color: #ffffffd9;
    text-shadow: 2px 2px #8A9A5BE5;
}
#textAreaID {
    border: 1.5px solid #800020;
}
.multiButton {
    background: linear-gradient(90deg, #68130FB2, #34044FD1);
    color: #ffffffd9;
    border: solid 1.33px #80002099;
    box-shadow: 0 0 15px rgba(128, 0, 32, 0.5), 0 0 30px rgba(127, 221, 76, 0.48);
}

.multiButton:hover {
    background: linear-gradient(145deg, #000000F0, #2E264CEB);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(128, 0, 32, 0.7), 0 0 40px rgba(127, 221, 76, 0.5);
}

#quickbuttons-dropdown .qb-dropbtn {
  background: linear-gradient(145deg, #4A0E4ED6, #005419ed);
  color: #ffffffd9;
  border: solid #80002099 1.5px;
  box-shadow: 0 0 15px rgba(74, 14, 78, 0.6), 0 0 30px rgba(0, 84, 25, 0.5);
}
#quickbuttons-dropdown .qb-dropdown-content {
  background-color: #800020ad;
}
#quickbuttons-dropdown .qb-dropdown-content a {
  color: #ffffffd9;
}
#quickbuttons-dropdown .qb-dropdown-content a:hover {
  background-color: #4A0E4Ea0;
}
#quickbuttons-dropdown:hover .qb-dropbtn {
  box-shadow: 0 0 20px rgba(151, 139, 164, 0.9), 0 0 40px rgba(127, 221, 76, 0.7);
}