
.printbox {
    background-color: {{placeholder}};
    border: 5px double {{placeholder}};
}
h1 {
    color: #9F31C7C2;
    text-shadow: 2px 2px {{placeholder}};
}
.subtitle {
    color: #34b8b2c4;
    font-family: 'Blackadder ITC', 'system-ui';
}
.input-group label {
    color: {{placeholder}};
}
.input-group label span {
    color: {{placeholder}};
}
input[type="text"] {
    border: 1.5px solid {{placeholder}};
}
.print-button {
    background: linear-gradient(120deg, {{placeholder}});
    color: #ffffff;
    box-shadow: 0 0 15px {{placeholder}}, 0 0 30px {{placeholder}};
}

.print-button:hover {
    background: linear-gradient(145deg, {{placeholder}});
    box-shadow: 0 0 20px {{placeholder}}, 0 0 40px {{placeholder}};
}

.buttonsLine1 {
  background: linear-gradient(145deg, {{placeholder}});
  color: #ffffff;
  box-shadow: 0 0 15px {{placeholder}}, 0 0 30px {{placeholder}};
}
.buttonsLine1:hover {
    background: linear-gradient(145deg, #8cffffbf, #ac6fdebd);
    box-shadow: 0 0 20px {{placeholder}}, 0 0 40px {{placeholder}};
}

.buttonsLine2 {
  background: linear-gradient(195deg, {{placeholder}}, {{placeholder}});
  color: #ffffff;
  box-shadow: 0 0 15px {{placeholder}}, 0 0 30px {{placeholder}};
}
.buttonsLine2:hover {
    background: linear-gradient(145deg, #8cffffbf, #ac6fdebd);
    box-shadow: 0 0 20px {{placeholder}}, 0 0 40px {{placeholder}};
}

.buttonsLine3 {
  background: linear-gradient(70deg, {{placeholder}});
  color: #ffffff;
  box-shadow: 0 0 15px {{placeholder}}, 0 0 30px rg{{placeholder}};
}
.buttonsLine3:hover {
    background: linear-gradient(145deg, {{placeholder}};
    box-shadow: 0 0 20px {{placeholder}}, 0 0 40px {{placeholder}};
}

.quick-print-buttons button:hover {
    background-color: {{placeholder}};
    border-color: {{placeholder}};
}
.quick-print-buttons button:active {
    background-color: {{placeholder}};
    border-color: {{placeholder}};
}
.scroll-container {
    scrollbar-color: {{placeholder}};
}
.scroll-button {
    background-color: {{placeholder}}
}
.scroll-button:hover {
    background-color: #{{placeholder}};
}
.asin-sticker-container {
    background-color: {{placeholder}};
    border: 2px dashed {{placeholder}};
}
.asin-sticker-header {
    color: white;
}
.asin-sticker-content button {
    background-color: #9f370fe8;
}
.asin-sticker-content button:hover {
    background-color: {{placeholder}};
}
.MultiBarcode-printer {
    background-color: {{placeholder}};
    border: 5px double {{placeholder}};
}
.MultiBarcode-printer h2 {
    color: #ffffff;
    text-shadow: 2px 2px {{placeholder}};
}
#textAreaID {
    border: 1.5px solid {{placeholder}};
}
.multiButton {
    background: linear-gradient(90deg, {{placeholder}});
    color: #ffffff;
    box-shadow: 0 0 15px {{placeholder}}, 0 0 30px {{placeholder}};
}

.multiButton:hover {
    background: linear-gradient(145deg, {{placeholder}});
    box-shadow: 0 0 20px {{placeholder}}, 0 0 40px {{placeholder}};
}

#quickbuttons-dropdown .qb-dropbtn {
  background: linear-gradient(145deg, {{placeholder}});
  color: #ffffff;
  box-shadow: 0 0 15px {{placeholder}}, 0 0 30px {{placeholder}};
}
#quickbuttons-dropdown .qb-dropdown-content {
  background-color: {{placeholder}};
}
#quickbuttons-dropdown .qb-dropdown-content a {
  color: {{placeholder}};
}
#quickbuttons-dropdown .qb-dropdown-content a:hover {
  background-color: {{placeholder}};
}
#quickbuttons-dropdown:hover .qb-dropbtn {
  box-shadow: 0 0 20px {{placeholder}}, 0 0 40px {{placeholder}};
}